:root {
  --navy-color: #2e2f42;
  --pcolor: #434455;
  --logo-webcolor: #4d5ae5;
  --background-color:#FFFFFF;
  --links-color:#404bbf;
  --button-color:#F4F4FD;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--pcolor);
}

.logo-webstudio {
  color: var(--logo-webcolor);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio
{
color: var(--navy-color);

}
.link
{
text-decoration: none;
}


.links-header
{
color: var(--navycolor);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;

}

.links-header:hover, .links-header:focus
{
    color: var(--links-color);
}


.adress-info
{
    color: var(--pcolor);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5
    letter-spacing: 0.02em;


}
.adress-info:hover, .adress-info:focus
{
   color: var(--links-color);
}



.btn-sek
{
font-family:"Roboto", sans-serif;
color: var(--logo-webcolor);
background-color: var(--button-color);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
cursor: pointer;
}
.btn-sek:hover, .btn-sek:focus
{
   color: #FFFFFF;
   background-color: var(--links-color);
}

.list
{
    list-style: none;
}

.images-header
{
    color:var(--navy-color);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.images-text
{
color: #434455
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer-background-color
{
  background-color: var(--navy-color);
}
.logo-studio-footer
{
    color: var(--button-color);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.images-text
{
    color:var(--button-color);
}